{{define "footer"}}
<footer class="bg-dark text-light py-4 mt-auto">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3 mb-md-0">
                <h5>About Groupie Tracker</h5>
                <p class="small text-white-50">Your ultimate destination to discover and track your favorite artists. Explore tour dates, locations, and more.</p>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-white-50 text-decoration-none">Home</a></li>
                    <li><a href="https://groupietrackers.herokuapp.com" class="text-white-50 text-decoration-none" target="_blank">API Source</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Contact</h5>
                <p class="small text-white-50 mb-0">Built with Go &amp; Bootstrap</p>
            </div>
        </div>
        <hr class="border-secondary">
        <p class="text-center text-white-50 small mb-0">&copy; 2026 Groupie Tracker. All rights reserved.</p>
    </div>
</footer>
{{end}}